name: syria_flutter_widgets_example
description: Example app for syria_flutter_widgets.
publish_to: none
version: 1.0.0

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  syria_flutter_widgets:
    path: ..

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
